.git
.github
.idea
**/node_modules
dist
dist-mobile
sync/.wrangler
**/.dev.vars
**/.dev.vars.*
**/.env
**/.env.*
*.pem
*.key
maps/tiles
data/terrain/**/*.bin
docker-compose.yml
Dockerfile
.dockerignore
